In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/09 03:59:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz

--2023-03-09 03:53:26--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz
Resolving github.com (github.com)... 192.30.255.112
Connecting to github.com (github.com)|192.30.255.112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230309%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230309T035326Z&X-Amz-Expires=300&X-Amz-Signature=b28683a0556294c4c2fb74d823ede42edd38b1e36187df48181d0f76ab08486e&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-03-09 03:53:26--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230309%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230309T035326Z&X-Amz-Expires=300&X-Amz-Signature=b28683a0556294c4c2fb74d823ede42edd38b1e36187df48181d0f76ab08486e&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 175799316 (168M) [application/octet-stream]
Saving to: ‘fhvhv_tripdata_2021-06.csv.gz’

fhvhv_tripdata_2021 100%[===================>] 167.66M   192MB/s    in 0.9s

2023-03-09 03:53:27 (192 MB/s) - ‘fhvhv_tripdata_2021-06.csv.gz’ saved [175799316/175799316]

In [3]:
!ls -l

total 171704
-rw-rw-r-- 1 jbjorge jbjorge      7841 Mar  9 03:52 01_test_spark.ipynb
-rw-rw-r-- 1 jbjorge jbjorge      4545 Mar  9 03:58 02_pyspark.ipynb
-rw-rw-r-- 1 jbjorge jbjorge 175799316 Dec 20 00:13 fhvhv_tripdata_2021-06.csv.gz
drwxr-xr-x 2 jbjorge jbjorge      4096 Mar  5 22:36 zones

In [5]:
df = spark.read \
    .option("header", "true") \
    .csv('fhvhv_tripdata_2021-06.csv.gz')

In [6]:
df.head(5)

[Row(dispatching_base_num='B02764', pickup_datetime='2021-06-01 00:02:41', dropoff_datetime='2021-06-01 00:07:46', PULocationID='174', DOLocationID='18', SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime='2021-06-01 00:16:16', dropoff_datetime='2021-06-01 00:21:14', PULocationID='32', DOLocationID='254', SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime='2021-06-01 00:27:01', dropoff_datetime='2021-06-01 00:42:11', PULocationID='240', DOLocationID='127', SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime='2021-06-01 00:46:08', dropoff_datetime='2021-06-01 00:53:45', PULocationID='127', DOLocationID='235', SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02510', pickup_datetime='2021-06-01 00:45:42', dropoff_datetime='2021-06-01 01:03:33', PULocationID='144', DOLocationID='146', SR_Flag='N', Affiliated_base_number=None)]

In [7]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', StringType(), True), StructField('DOLocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [16]:
!gzip -d fhvhv_tripdata_2021-06.csv.gz

In [18]:
!head -n 101 fhvhv_tripdata_2021-06.csv > head.csv

In [19]:
!wc -l head.csv

101 head.csv

In [20]:
import pandas as pd

In [21]:
df_pandas = pd.read_csv("head.csv")

In [22]:
df_pandas.dtypes

dispatching_base_num      object
pickup_datetime           object
dropoff_datetime          object
PULocationID               int64
DOLocationID               int64
SR_Flag                   object
Affiliated_base_number    object
dtype: object

In [23]:
df_pandas.head()

,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,Affiliated_base_number
0,B02764,2021-06-01 00:02:41,2021-06-01 00:07:46,174,18,N,B02764
1,B02764,2021-06-01 00:16:16,2021-06-01 00:21:14,32,254,N,B02764
2,B02764,2021-06-01 00:27:01,2021-06-01 00:42:11,240,127,N,B02764
3,B02764,2021-06-01 00:46:08,2021-06-01 00:53:45,127,235,N,B02764
4,B02510,2021-06-01 00:45:42,2021-06-01 01:03:33,144,146,N,NaN

In [24]:
spark.createDataFrame(df_pandas).schema

TypeError: field Affiliated_base_number: Can not merge type <class 'pyspark.sql.types.StringType'> and <class 'pyspark.sql.types.DoubleType'>

In [26]:
from pyspark.sql import types

In [27]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [28]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-06.csv')

In [29]:
df.head(10)

[Row(dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 2, 41), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 7, 46), PULocationID=174, DOLocationID=18, SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 16, 16), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 21, 14), PULocationID=32, DOLocationID=254, SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 27, 1), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 42, 11), PULocationID=240, DOLocationID=127, SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 46, 8), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 53, 45), PULocationID=127, DOLocationID=235, SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02510', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 45, 42), dropoff_datetime=datetime.datetime(2021, 6, 1, 1, 3, 33), PULocationID=144, DOLocationID=146, SR_Flag='N', Affiliated_base_number=None),
 Row(dispatching_base_num='B02510', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 18, 15), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 25, 47), PULocationID=49, DOLocationID=17, SR_Flag='N', Affiliated_base_number=None),
 Row(dispatching_base_num='B02510', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 33, 6), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 42, 46), PULocationID=49, DOLocationID=225, SR_Flag='N', Affiliated_base_number=None),
 Row(dispatching_base_num='B02510', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 46, 27), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 56, 50), PULocationID=225, DOLocationID=177, SR_Flag='N', Affiliated_base_number=None),
 Row(dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 48, 6), dropoff_datetime=datetime.datetime(2021, 6, 1, 1, 4, 10), PULocationID=209, DOLocationID=45, SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02875', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 18, 54), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 26, 14), PULocationID=80, DOLocationID=256, SR_Flag='N', Affiliated_base_number='B02875')]

In [33]:
df = df.repartition(12)

In [34]:
df.write.parquet("fhvhv/2021/06/")

In [47]:
df = spark.read.parquet("fhvhv/2021/06/")

In [37]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [38]:
from pyspark.sql import functions as F

In [39]:
def crazy_stuff(base_num):
    num = int(base_num[1:])
    if num % 7 == 0:
        return f's/{num:03x}'
    elif num % 3 == 0:
        return f'a/{num:03x}'
    else:
        return f'e/{num:03x}'

In [40]:
crazy_stuff('B02884')

's/b44'

In [41]:
crazy_stuff_udf = F.udf(crazy_stuff, returnType=types.StringType())

In [42]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
    .withColumn('base_id', crazy_stuff_udf(df.dispatching_base_num)) \
    .select('base_id', 'pickup_date', 'dropoff_date', 'PULocationID', 'DOLocationID') \
    .show()

+-------+-----------+------------+------------+------------+
|base_id|pickup_date|dropoff_date|PULocationID|DOLocationID|
+-------+-----------+------------+------------+------------+
|  e/a39| 2021-06-04|  2021-06-04|         118|         109|
|  e/b3b| 2021-06-02|  2021-06-02|         163|          79|
|  a/b37| 2021-06-03|  2021-06-03|         231|          13|
|  e/b48| 2021-06-03|  2021-06-03|           9|          92|
|  e/9ce| 2021-06-05|  2021-06-05|          14|         133|
|  e/acc| 2021-06-03|  2021-06-03|         152|          74|
|  a/b49| 2021-06-02|  2021-06-02|         220|         235|
|  e/b38| 2021-06-01|  2021-06-01|         162|         161|
|  e/9ce| 2021-06-04|  2021-06-04|         206|         206|
|  s/b13| 2021-06-02|  2021-06-02|          49|         182|
|  e/9ce| 2021-06-02|  2021-06-02|         236|          89|
|  e/b35| 2021-06-01|  2021-06-01|         151|          43|
|  e/9ce| 2021-06-02|  2021-06-02|         181|         189|
|  e/9ce| 2021-06-03|  2021-06-03|         181|          89|
|  e/acc| 2021-06-01|  2021-06-01|          86|          86|
|  e/b33| 2021-06-04|  2021-06-04|         162|         263|
|  e/9ce| 2021-06-01|  2021-06-01|         151|          17|
|  a/a7a| 2021-06-04|  2021-06-04|         125|         164|
|  e/b3b| 2021-06-01|  2021-06-01|         192|           7|
|  e/9ce| 2021-06-03|  2021-06-03|         171|          16|
+-------+-----------+------------+------------+------------+
only showing top 20 rows

In [48]:
df.createOrReplaceTempView('fhvhv_taxi_data')

In [50]:
spark.sql("""
select count(*)
from fhvhv_taxi_data
where cast(pickup_datetime as date) = '2021-06-15'
""").show()

+--------+
|count(1)|
+--------+
|  452470|
+--------+

In [66]:
spark.sql("""
select pickup_datetime,
dropoff_datetime,
((bigint(to_timestamp(dropoff_datetime))) - (bigint(to_timestamp(pickup_datetime)))) / 3600 as time_diff
from fhvhv_taxi_data
order by 3 desc
""").show()

+-------------------+-------------------+------------------+
|    pickup_datetime|   dropoff_datetime|         time_diff|
+-------------------+-------------------+------------------+
|2021-06-25 13:55:41|2021-06-28 08:48:25|  66.8788888888889|
|2021-06-22 12:09:45|2021-06-23 13:42:44|25.549722222222222|
|2021-06-27 10:32:29|2021-06-28 06:31:20|19.980833333333333|
|2021-06-26 22:37:11|2021-06-27 16:49:01|18.197222222222223|
|2021-06-23 20:40:43|2021-06-24 13:08:44|16.466944444444444|
|2021-06-23 22:03:31|2021-06-24 12:19:39|14.268888888888888|
|2021-06-24 23:11:00|2021-06-25 13:05:35|13.909722222222221|
|2021-06-04 20:56:02|2021-06-05 08:36:14|             11.67|
|2021-06-27 07:45:19|2021-06-27 19:07:16|11.365833333333333|
|2021-06-20 17:05:12|2021-06-21 04:04:16|10.984444444444444|
|2021-06-01 12:25:29|2021-06-01 22:41:32|           10.2675|
|2021-06-01 12:01:46|2021-06-01 21:59:45| 9.966388888888888|
|2021-06-28 13:13:59|2021-06-28 23:11:58| 9.966388888888888|
|2021-06-27 03:52:14|2021-06-27 13:30:30| 9.637777777777778|
|2021-06-18 08:50:29|2021-06-18 18:27:57| 9.624444444444444|
|2021-06-08 16:38:14|2021-06-09 02:07:03| 9.480277777777777|
|2021-06-11 23:26:20|2021-06-12 08:54:38| 9.471666666666666|
|2021-06-15 06:47:22|2021-06-15 16:11:30| 9.402222222222223|
|2021-06-25 02:32:24|2021-06-25 11:56:01| 9.393611111111111|
|2021-06-04 17:41:23|2021-06-05 03:04:00| 9.376944444444444|
+-------------------+-------------------+------------------+
only showing top 20 rows

In [71]:
zones = spark.read.parquet("zones")

In [72]:
zones.createOrReplaceTempView('zones_data')

In [68]:
zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [69]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02617|2021-06-04 16:50:34|2021-06-04 17:01:18|         118|         109|      N|                B02617|
|              B02875|2021-06-02 22:28:45|2021-06-02 22:37:28|         163|          79|      N|                B02875|
|              B02871|2021-06-03 11:47:48|2021-06-03 11:52:23|         231|          13|      N|                B02871|
|              B02888|2021-06-03 08:45:25|2021-06-03 09:00:12|           9|          92|      N|                B02888|
|              B02510|2021-06-05 09:50:43|2021-06-05 10:06:53|          14|         133|      N|                  null|
|              B02764|2021-06-03 22:55:50|2021-06-03 23:21:24|         152|          74|      N|                B02764|
|              B02889|2021-06-02 03:15:48|2021-06-02 03:26:20|         220|         235|      N|                B02889|
|              B02872|2021-06-01 11:50:42|2021-06-01 12:00:36|         162|         161|      N|                B02872|
|              B02510|2021-06-04 06:51:45|2021-06-04 06:56:26|         206|         206|      N|                  null|
|              B02835|2021-06-02 01:21:31|2021-06-02 01:50:23|          49|         182|      N|                B02835|
|              B02510|2021-06-02 17:11:31|2021-06-02 18:18:32|         236|          89|      N|                  null|
|              B02869|2021-06-01 18:48:20|2021-06-01 18:54:59|         151|          43|      N|                B02869|
|              B02510|2021-06-02 16:16:53|2021-06-02 16:39:03|         181|         189|      N|                  null|
|              B02510|2021-06-03 21:23:35|2021-06-03 21:33:33|         181|          89|      N|                  null|
|              B02764|2021-06-01 06:51:24|2021-06-01 06:58:09|          86|          86|      N|                B02764|
|              B02867|2021-06-04 18:26:09|2021-06-04 18:41:43|         162|         263|      N|                B02867|
|              B02510|2021-06-01 10:21:49|2021-06-01 11:08:24|         151|          17|      N|                  null|
|              B02682|2021-06-04 01:45:17|2021-06-04 01:53:16|         125|         164|      N|                B02682|
|              B02875|2021-06-01 14:06:42|2021-06-01 14:33:53|         192|           7|      N|                B02875|
|              B02510|2021-06-03 21:15:15|2021-06-03 21:21:24|         171|          16|      N|                  null|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [73]:
spark.sql("""
select z.Zone,
count(*)
from fhvhv_taxi_data fhv
inner join zones_data z
on fhv.PULocationID = z.LocationID
group by z.Zone
order by count(*) desc
""").show()

+--------------------+--------+
|                Zone|count(1)|
+--------------------+--------+
| Crown Heights North|  231279|
|        East Village|  221244|
|         JFK Airport|  188867|
|      Bushwick South|  187929|
|       East New York|  186780|
|TriBeCa/Civic Center|  164344|
|   LaGuardia Airport|  161596|
|            Union Sq|  158937|
|        West Village|  154698|
|             Astoria|  152493|
|     Lower East Side|  151020|
|        East Chelsea|  147673|
|Central Harlem North|  146402|
|Williamsburg (Nor...|  143683|
|          Park Slope|  143594|
|  Stuyvesant Heights|  141427|
|        Clinton East|  139611|
|West Chelsea/Huds...|  139431|
|             Bedford|  138428|
|         Murray Hill|  137879|
+--------------------+--------+
only showing top 20 rows